.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  width: 528px;
  height: 581px;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 1199px) {
    max-width: 450px;
    height: 609px;
  }
}

.modal-btn {
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $white-color;
  cursor: pointer;
  transition: fill $animation;
}

.modal-btn:hover,
.modal-btn:focus {
  fill: $accent-color;
}

.register-form-title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: $main-text-color;
}

.input-container {
  margin-bottom: 10px;
  position: relative;
}

.input-container:nth-child(5) {
  margin-bottom: 20px;
}

.input-container:nth-child(6) {
  margin-bottom: 30px;
}

.input-icon {
  position: absolute;
  top: 65%;
  left: 5%;
  transform: translate(-50%, -50%);
  transition: fill $animation;
}

.input-icon:hover {
  cursor: pointer;
}

.input-box {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border $animation;
}

.input-box:focus {
  outline: transparent;
  border: 1px solid $accent-color;
}

.input-box:focus + .input-icon {
  fill: $accent-color;
}

textarea {
  resize: none;
}

.textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border $animation;
}

.textarea:focus {
  border: 1px solid $accent-color;
}

.icon-checked {
  opacity: 0;
  transition: opacity $animation;
}

.checkbox:checked + .icon-check .icon-checked {
  opacity: 1;
}
.icon-unchecked {
  transition: opacity $animation;
}

.checkbox:checked + .icon-check .icon-unchecked {
  opacity: 0;
}

.text-check {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.check-text {
  color: $secondary-text-color;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
  }
}

.check-text-accent {
  color: $accent-color;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
  }
}

.text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: $secondary-text-color;
}

.form-btn-box {
  display: flex;
  justify-content: center;
}

.modal-form-btn {
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: $accent-color;
  color: $white-color;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
}
