.header__menu-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  padding: 48px 83px 48px 40px;

  background-color: $white-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  transform: translateX(100%);
  transition: transform $animation;
}

.header__menu-container.is-open {
  transform: translateX(0);
}

.header__menu-container .header__menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.header__menu-group {
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// .header__menu-list {
//   margin-bottom: 302px;
// }

.header__menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.header__menu-link {
  display: block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $main-text-color;
  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;
  }
}

.header__menu-contact-group {
  margin-bottom: 64px;
}

.header__menu-contact-link {
  font-weight: 500;
  font-size: 31px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $secondary-text-color;
  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 338px) {
    font-size: 34px;
  }

  &--mail {
    font-size: 24px;
    line-height: 1.16;
  }

  &--tel {
    color: $accent-color;
  }
}

.header__menu-socials-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header__menu-socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;
}
