$white-color: #ffffff;
$dark-bg: #2f303a;
$section-bg: #f5f4fa;
$icon-bg: rgba(255, 255, 255, 0.1);
$activity-bg: rgba(47, 48, 58, 0.8);
$portfolio-bg: rgba(33, 150, 243, 0.9);
$backdrop-bg: rgba(0, 0, 0, 0.2);
$btn-hover: #188ce8;
$accent-color: #2196f3;
$main-text-color: #212121;
$secondary-text-color: #757575;
$grey-clr-60: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
$close-icon-clr: #000000;
$modal-comment-clr: rgba(117, 117, 117, 0.5);
$page-header-border-color: #ececec;
$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
$hero-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

$btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$prtfl-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
$modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

$header-border: 1px solid #ececec;
$portfolio-border: 1px solid #eeeeee;
$footer-form-border: 1px solid rgba(255, 255, 255, 0.3);
$modal-form-border: 1px solid rgba(33, 33, 33, 0.2);

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
