/**
  |============================
  | Block-1
  |============================
*/

:root {
    --icons-color: #afb1b8;
    --white-color: #ffffff;
    --secondary-text-color: #757575;
    --brand-color: #2f303a;
    --accent-color: #2196f3;
    --primary-text-color: #212121;
    --white-color-90: #ffffff99;

    /*bg colors*/
    --hero-btn-hover-color: #188ce8;
    --dark-bg-color: #2f303a;
    --section-bg-color: #f5f4fa;
    --page-header-border-color: #ececec;
}