.clients-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-section__item {
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.clients-section__link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $icon-color;
  border-radius: 4px;
  color: $icon-color;
  fill: currentColor;

  transition: color $animation, border-color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
