.features-section__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.features-section__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.features-section__icon-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $section-bg;
  margin-bottom: 30px;
}

.features-section__title {
  margin-bottom: 10px;

  text-align: center;
  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.features-section__text {
  width: 100%;
  line-height: 1.71;
  color: $secondary-text-color;
}
