.footer {
  padding: 60px 0;
  background-color: $dark-bg;
}

.footer__group {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo-group {
  width: 232px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: $logo-font;
  font-size: 26px;
  line-height: 1.19;
  color: $white-color;
}

.footer__list:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $white-color;

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__link--grey {
  color: $grey-clr-60;
}

/* Social-links */

.footer__social-links {
  width: 206px;
  height: 80px;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__social-text {
  display: block;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
}

.footer__social-group {
  display: flex;
  gap: 10px;
}

.footer__social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $white-color;
  background-color: $icon-bg;
  fill: currentColor;

  transition: background-color $animation;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

/* Form INPUT */
.footer__form {
  @media screen and (max-width: 479px) {
    width: 100%;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 12px;
  }
}

.form__input {
  width: 100%;
  height: 50px;

  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;

  color: $white-color;
  background-color: transparent;
  border: $footer-form-border;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  transition: border-color $animation;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: $grey-clr-60;
  }

  &:focus-within {
    border-color: $accent-color;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.form__label {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: $white-color;
}

.form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px $hero-btn-shadow;
  border: none;
  border-radius: 4px;
  color: $white-color;
  fill: currentColor;
  cursor: pointer;

  transition: color $animation, background-color $animation;

  &:hover,
  &:focus {
    background-color: $btn-hover;
    color: $white-color;
  }
}
