.team-section {
  background-color: $section-bg;
}

.team-section__list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-section__item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: $card-shadow;
  background-color: $white-color;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team-section__group {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-section__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-section__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $secondary-text-color;
}

.team-section__icon-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team-section__icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $icon-color;
  fill: currentColor;

  transition: color $animation, background-color $animation;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
  }
}
